<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/jquery.countdown.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui-1.10.0.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">Bootstrap</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./index.html">Home</a>
              </li>
            </ul>
          </div>

          <a href="#settingsModal" role="button" class="btn btn-primary" data-toggle="modal">Settings</a>

          <div class="btn-group">
            <a href="save" title="save" class="btn x-save"><i class="icon-hdd"></i></a>
            <a href="#shareModal" title="share" class="btn x-share hidden" data-toggle="modal"><i class="icon-share"></i></a>
          </div>

        </div>
      </div>
    </div>

    <div class="navbar-space"></div>

    <div class="container">
      <a href="#" class="x-background"><i class="icon-picture"></i></a>

      <div id="shareModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Share!</h3>
        </div>
        <div class="modal-body">
          <a href="#" class="countdown-link"></a>
        </div>
      </div>

      <div id="settingsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form action="/create" method="post" accept-charset="utf-8" class="form-horizontal countdown-settings">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Modal header</h3>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs" id="settingsTab">
              <li class="active"><a href="#basic">Home</a></li>
              <li><a href="#background">Profile</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="basic">
                <div class="control-group">
                  <label class="control-label" for="until">Until</label>
                  <div class="controls">
                    <input type="text" name="until" class="datetimepicker" />
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="title">Title</label>
                  <div class="controls">
                    <input type="text" name="title" />
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="description">Description</label>
                  <div class="controls">
                    <textarea name="description" rows="5"></textarea>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="background">
                <div class="control-group">
                  <label class="control-label" for="background_image">Until</label>
                  <div class="controls">
                    <input type="text" name="background_image" />
                  </div>
                </div>
              </div>  
            </div>
          </div>

          <input type="hidden" name="slug" />
          <input type="hidden" name="custom_css[title]" />
          <input type="hidden" name="custom_css[description]" />
          <input type="hidden" name="custom_css[countdown]" />
        </form>
      </div>

      <div class="title-container editable placeholder">
        <h1 class="content">Title!</h1>
        <input type="text" name="title-inplace" class="inplace-input" />
        <i class="icon-move"></i>
      </div>
      <div class="countdown-container editable">
        <div class="countdown flip-clock"></div>
        <i class='icon-move'></i>
        <a href="#" title="Set time" class="x-until"><i class="icon-time"></i></a>
      </div>
      <div class="description-container editable placeholder">
        <p class="content">Couple words of description.</p>
        <textarea name="description-inplace" class="inplace-input"></textarea>
        <i class="icon-move"></i>
      </div>
    
      <input type='text' name='until-inplace' class='datetimepicker-inplace' />
    </div>


    <!-- load scripts late -->
    <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.0.0.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui-1.10.0.custom.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/application.js"></script>
  </body>
</html>