<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/jquery.countdown.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui-1.10.0.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38296298-2']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">

      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="/">Countdown5</a>
          
        
          <ul class="nav">
            <li class="">
              <a href="./index.html">Home</a>
            </li>
          </ul>

          <div class="btn-group">
            <a href="#save" title="save" class="btn x-save"><i class="icon-hdd"></i></a>
            <a href="#shareModal" title="share" class="btn x-share hidden" data-toggle="modal"><i class="icon-share"></i></a>
          </div>

        </div>
      </div>
    </div>

    <div class="navbar-space"></div>

    <div class="container canvas-container">
      <a href="#" class="x-background" rel="tooltip" title="Background" data-description="set background picture url"><i class="icon-picture"></i></a>

      <div id="shareModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Share!</h3>
        </div>
        <div class="modal-body">
          <a href="#" class="countdown-link"></a>
        </div>
      </div>

      <div id="settingsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form action="/create" method="post" accept-charset="utf-8" class="form-horizontal countdown-settings">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="tab-content">
              <div class="tab-pane active" id="basic">
                <div class="control-group">
                  <label class="control-label" for="until">Until</label>
                  <div class="controls">
                    <input type="text" name="until" class="datetimepicker" />
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="background_image">Background image:</label>
                  <div class="controls">
                    <input type="text" name="background_image" />
                  </div>
                </div>
              </div>  
            </div>
          </div>

          <input type="hidden" name="slug" />
          <input type="hidden" name="custom_css[title]" />
          <input type="hidden" name="custom_css[description]" />
          <input type="hidden" name="custom_css[countdown]" />
          <input type="hidden" name="title" />
          <input type="hidden" name="description" />
        </form>
      </div>

      <div class="title-container editable" >
        <div class="content" contenteditable="true" id="title-editable" rel="popover" title="Title" data-content="It must have some title, right?" data-placement="left">
          <h1>Title!</h1>
        </div>
        <i class="icon-move"></i>
      </div>
      <div class="countdown-container editable">
        <div class="countdown flip-clock"></div>
        <i class='icon-move'></i>
        <a href="#" title="Set time" class="x-until"><i class="icon-time"></i></a>
      </div>
      <div class="description-container editable">
        <div class="content" contenteditable="true" id="description-editable" rel="popover" title="Description" data-content="Write something about this countdown..." data-placement="bottom">
          <p>Couple words of description.</p>
        </div>
        <i class="icon-move"></i>
      </div>
    
      <input type='text' name='until-inplace' class='datetimepicker-inplace' />
    </div>

    <div class="navbar navbar-fixed-bottom">
      <footer class="footer">
        <div class="container">      
          <a href="http://sooftly.com" target="blank" class="sooftly-link">Sooftly</a>
        
          <p>Build and powered just for fun by <a href="http://sooftly.com">Sooftly</a></p>
        </div> 
      </footer>
    </div>


    <!-- load scripts late -->
    <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.0.0.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui-1.10.0.custom.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="javascripts/application.js"></script>
  </body>
</html>