body {
  background-position: top center;
}
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
.ui-timepicker-div dl {
  text-align: left;
}
.ui-timepicker-div dl dt {
  height: 25px;
  margin-bottom: -25px;
}
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 65px;
}
.ui-timepicker-div td {
  font-size: 90%;
}
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.ui-timepicker-rtl {
  direction: rtl;
}
.ui-timepicker-rtl dl {
  text-align: right;
}
.ui-timepicker-rtl dl dd {
  margin: 0 65px 10px 10px;
}
.canvas-container {
  position: relative;
  height: 500px;
  width: 1000px;
}
.navbar-space {
  width: 100%;
  clear: both;
  height: 41px;
}
.hidden {
  display: none !important;
}
.x-background {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}
.editable {
  border: 1px dashed #808080;
}
.editable .icon-move {
  position: absolute;
  right: -15px;
  top: 0px;
  cursor: move;
}
.editable a.x-until {
  position: absolute;
  right: -15px;
  top: 15px;
  display: block;
}
.datetimepicker-inplace {
  width: 0px !important;
  height: 0px !important;
  position: fixed;
  top: 60px;
  left: 40%;
  border: none !important;
  background: transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.placeholder {
  color: #808080;
}
.description-container,
.title-container,
.countdown-container {
  position: absolute !important;
}
.title-container {
  top: 25px;
  left: 200px;
}
.description-container {
  top: 260px;
  left: 200px;
}
.description-container,
.title-container {
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.countdown-container {
  background-color: #000;
  width: 942px;
  left: 20px;
  top: 115px;
}
.flip-clock {
  height: 115px;
  background-color: inherit;
  border: none;
}
.flip-clock span {
  color: #ddd;
  display: block;
  float: left;
  width: 90px;
  height: 120px;
  background: url("/images/flipclock_600x266.png") no-repeat -5px -10px;
}
.flip-clock span.image1 {
  background-position-x: -105px;
}
.flip-clock span.image2 {
  background-position-x: -205px;
}
.flip-clock span.image3 {
  background-position-x: -305px;
}
.flip-clock span.image4 {
  background-position-x: -405px;
}
.flip-clock span.image5 {
  background-position-x: -505px;
}
.flip-clock span.image6 {
  background-position: -5px -143px;
}
.flip-clock span.image7 {
  background-position: -105px -143px;
}
.flip-clock span.image8 {
  background-position: -205px -143px;
}
.flip-clock span.image9 {
  background-position: -305px -143px;
}
.flip-clock span.image10 {
  background-position: -405px -143px;
}
.flip-clock span.imageDay {
  background: none;
}
.flip-clock span.imageSep {
  background: none;
  width: 25px;
}
.flip-clock span.imageSep p {
  font-size: 80px;
  font-weight: bold;
  margin-top: 40px;
}
.flip-clock span.imageSepDay {
  width: 80px;
}
.flip-clock span.imageSepDay p {
  margin-top: 60px;
}
.flip-clock span.imageSpace {
  background: none;
}
